/node_modules
/public/css/app.css
/public/css/admin/app.css
/public/js/app.js
/public/js/admin/app.js
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/**/.DS_Store
